/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255, 141, 203, 1);
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: rgba(53, 52, 48, 1);
  --nav-color: rgba(53, 52, 48, 1);
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --main-heading-color: rgba(53, 52, 48, 1);
  --main-title-color: rgba(53, 52, 48, 1);
  --section-heading-color: rgba(53, 52, 48, 1);
  --header-logo-color: rgba(255, 194, 230, 1);
  --footer-logo-color: rgba(255, 194, 230, 1);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
    --bg-image: url(../images/cover-image-light.png);
    --main-text-color: rgba(53, 52, 48, 1);
    --nav-color: rgba(53, 52, 48, 1);
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --main-heading-color: rgba(53, 52, 48, 1);
    --main-title-color: rgba(53, 52, 48, 1);
    --section-heading-color: rgba(53, 52, 48, 1);
    --header-logo-color: rgba(255, 194, 230, 1);
    --footer-logo-color: rgba(255, 194, 230, 1);
  }

  .header__rec {
    display: none;
  }
}
