/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
 background-image: var(--bg-image, url(../images/cover-image-dark.png));
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
}

.header {
  inline-size: 100%;
  min-block-size: 668px;
  block-size: 100vh;
  padding-block-start: var(--main-gap, 10px);
  padding-block-end: var(--main-gap, 10px);
  padding-inline-start: var(--main-gap, 10px);
  padding-inline-end: var(--main-gap, 10px);
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
}

.header__rec {
  position: absolute;
  inset-block-start: var(--main-gap, 10px);
  inset-inline-end: 38px;
}

.header__rec::before {
  content: "REC";
  display: block;
  font-weight: 400;
  font-size: var(--main-text-size, 18px);
  line-height: 25px;
  color: var(--accent-color, rgba(255, 0, 112, 1));
}

.header__rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: rgba(255, 0, 112, 1);
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color, rgba(255, 0, 112, 1));
  border-block-start: 1px solid var(--nav-color, rgba(255, 0, 112, 1));
  inset-inline-end: var(--main-gap, 10px);
  inset-block-start: var(--main-gap, 10px);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color, rgba(255, 0, 112, 1));
  border-block-end: 1px solid var(--nav-color, rgba(255, 0, 112, 1));
  inset-inline-start: var(--main-gap, 10px);
  inset-block-end: var(--main-gap, 10px);
}

.header__title {
  font-weight: 700;
  font-size: var(--header-logo-size);
  line-height: 83%;
  color: var(--header-logo-color, rgba(219, 0, 255, 1));
  text-shadow: 4px 4px 0 var(--accent-color, rgba(255, 0, 112, 1));
}

.header__theme-menu-item:not(:last-of-type) {
  margin-block-end: var(--menu-gap, 14.5px);
}

.header__theme-menu-button {
  --main-line-height: 18px;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 18px);
  color: var(--nav-color, rgba(255, 0, 112, 1));
  padding-block-start: 1.5px;
  padding-inline-end: 13px;
  padding-block-end: 1.5px;
  padding-inline-start: 13px;
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--nav-color, rgba(255, 0, 112, 1));
}

.title-decor {
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  color: var(--main-heading-color, rgba(0, 0, 40, 1));
}

.header__text {
 font-weight: 700;
 font-size: var(--main-text-size, 18px);
 line-height: var(--main-line-height, 23.4px);
}

.content {
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 5355px;
  padding-inline-start: var(--main-gap, 10px);
  padding-inline-end: var(--main-gap, 10px);
  margin-block-start: calc(4* var(--main-gap, 10px));
}

.content-section {
  margin-block-end: calc(5* var(--main-gap, 10px));
}
/*h2*/
.content-section__title {
  font-weight: 700;
  color: var(--section-heading-color, rgba(255, 0, 112, 1));
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 23.4px);
}

.text-blocks {
  margin-block-start: calc(2* var(--main-gap, 10px));
}
/*h3*/
.text-block__title-simple {
  font-weight: 400;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 23.4px);
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  color: var(--main-heading-color, rgba(0, 0, 40, 1));
}


.text-block__title-simple {
  font-weight: 400;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 23.4px);
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  color: var(--main-heading-color, rgba(0, 0, 40, 1));
  margin-block-start: calc(2* var(--main-gap, 10px));
}

.text-block__content {
  font-weight: 400;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 23.4px);
  color: var( --main-text-color, rgba(241, 178, 206, 1));
  margin-block-start: var(--main-gap, 10px);
}

.text-block:not(:last-of-type) {
  margin-block-end: calc(2* var(--main-gap, 10px));
}

.text-block__link {
  text-decoration: none;
  font-weight: 400;
  text-shadow: 2px 2px 0 var(--accent-color);
}



.footer {
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  border: 1px solid yellow;
}